.subTitele{
    color: var(--Text-Primary, #252E4A);
font-size: var(--fontSize);
font-style: normal;
font-weight: 500;
line-height: 20px; /* 100% */
margin: 20px 0;
}
.SeeAll{
    color: var(--Primary, #3282C4);
text-align: right;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 100% */
}
.header-section{
    
}