.my_learnings {

    .grid_colum {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    &_card {
        &.courseLockIcon {
            background-image: url(../../asset/images/course-lock-icon.png);
            background-size: cover;


            .my_learnings_lock {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                text-align: center;

                &_icon {
                    width: 64px;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: #F5C814;
                }

                p {
                    color: #FFF;
                    margin-top: 10px;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    // font-weight: 500;
                    line-height: 162.5%;
                }
            }

        }

        padding: 12px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 3px 3px 2px rgba(6, 40, 61, 0.05);
        max-width: calc(100% - 20px);
        margin: 10px auto;
        width: 100%;

        &_img {
            width: 100%;
            aspect-ratio: 1.9;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-color: black;
                border-radius: 6px;
            }
        }

        button {
            margin-top: 18px;
        }

    }
}











button.slick-arrow {
    position: absolute;
    top: -40px;
    font-size: 0;
    background-color: transparent;
    border: unset;
    right: 14px;
    padding: 0px;
    width: 24px;
    height: 24px;
    background-image: url(../../asset/images/sliderArrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

button.slick-arrow.slick-prev {
    right: 40px;
    transform: rotate(180deg);
}

.slick-track {
    margin: unset !important;
}

.formsections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 24px;
    margin: 24px 0;
    max-width: 702px;
}

.thumbnail-img {
    border-radius: 5px;
    border: 1.43px dashed var(--Default-input-stroke, #DEDEDE);
    height: 184px;
    display: flex;
    align-items: center;
    justify-content: center;

    .thumbnail-input {
        display: none;
    }

    img.thum {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        overflow: hidden;
    }

    .uploadSection {
        text-align: center;
        color: var(--Primary, #3282C4);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 25.74px;
        /* 160.875% */
    }
}