$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xXlarge: 1360px;

@mixin respondLayoutMax($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin respondLayoutMin($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin respondLayout($minbreakpoint, $maxbreakpoint) {
  @media only screen and (min-width: $minbreakpoint) and (max-width: $maxbreakpoint) {
    @content;
  }
}

.course-info {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 24px 0;
}

.header-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}

.dashboard-inner {
  display: flex;
  gap: 22px;
  width: 100%;
}

.dashboard-left {
  width: calc(100% - 322px);

  @include respondLayoutMax($breakpoint-medium) {
    width: 100%;
  }
}

.dashboard-right {
  width: 332px;
  min-width: 332px;


  @include respondLayoutMax($breakpoint-medium) {
    transition: 1s all;
    position: fixed;
    right: 0;
    top: 72px;
    overflow: auto;
    height: calc(100vh - 136px);
    background: #F5F7FB;
    padding: 20px;

    min-width: unset;
    max-width: 100%;
    background: #FFF;
    box-shadow: 0px 1px 4px 2px rgba(6, 40, 61, 0.03);

    &:not(.active) {
      transform: translateX(332px);

    }

  }

  .alert-icon {}

}

.alert-icon {
  aspect-ratio: 1;
  position: fixed;
  right: 0px;
  top: 97px;
  background: #ff0000ad;
  width: 33px;

  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
  z-index: 99;
  display: none;

  @include respondLayoutMax($breakpoint-medium) {
    display: flex;
  }

  position: fixed;
}