.cardOuter {
    width: 90%;
    margin: auto;
}

.inner_reward {
    display: flex !important;
    gap: 20px;
}

.reward_column {
    width: 100% !important;
}

.outerReward {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
}

.rewardsCont {
    background-color: #fff;
    display: flex !important;
    align-items: center;
    padding: 20px;
    gap: clamp(20px , 3vw , 50px);
    max-width: calc(100% - 15px);
    margin: auto;
}

.leftCont {
    width: 30%;
}

.rightCont {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightCont h6 {
    font-size: 18px;
}