.form-section {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;

    label {
        color: #282828;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &.disabled {
            color: #DEDEDE;
        }

        &.radiolabel {
            display: flex;
            align-items: center;
            gap: 10px;

            input {
                width: 24px;
                min-width: unset;
                accent-color: #3282C4;
                height: 24px;
            }
        }
    }
select{
    text-transform: capitalize;
}
    :is(input, textarea, select) {
        // text-transform: capitalize;
        color: #282828;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 6px;
        padding: 13px 20px;
        border: 1px solid var(--Default-input-stroke, #dedede);
        background: var(--Input-default, rgba(222, 222, 222, 0.1));
        &.clipboard{
            padding-right: 34px;
        }
        &[type=radio]{
            width: 20px !important;
            height: 20px !important;
            min-width: unset !important;
        }
     option {
            text-transform: capitalize;
        }
        &[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        &:disabled {
            color: #DEDEDE;
            border: 1px solid var(--Default-input-stroke, #DEDEDE);
            background: var(--Input-default, rgba(222, 222, 222, 0.10));
        }

        &:focus,&:not(:disabled).activeClass {
            border: 1px solid var(--Primary, #3282c4);
            background: var(--Input-Field---BG, #ebf3fa);
            outline: 0;
            &::file-selector-button {
            
                color: dodgerblue;
                padding: 5px;
                border: thin solid #3282c4;
                border-radius: 3px;
                font-size: 12px;
              }
        }

        &.error {
            border-radius: 4px;
            border: 1px solid var(--Error, #E84138);
            background: var(--Input-Field---Error---BG, #F9E6E5);

        }

    }

    select {
    width: 300px;
    max-width: 100%;
    }

    .errorMSG {
        color: var(--Error, #e84138);
        position: absolute;
        top: 100%;
        font-size: 12px;
        white-space: nowrap;
    }

    span.eye-icon {
        position: absolute;
        right: 8px;
        bottom: 4px;
    }
}

.radio{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    &Button{
        display: flex;
      align-items: center;
        gap: 5px; 
    }
}
.form-checkbox{
    display: flex;
    gap: 10px;
    input{
        width: 22px;
        height: 22px;
    }
}