.noteMsg{
    padding: 13px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
background: #F4E9C7;
margin: 10px 0;
    P{
        color: #A48213;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px;
    }
}