.grid_column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(396px, 1fr));
    gap: 20px;
    margin-top: 20px;
    @media  (max-width:425px) {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        
    }
}

.searchCont {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0;
    input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.btnSearch {
    padding: 14px 16px;
    min-width: fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
   
}

.card-cont {
    // width: 32%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 15px;
    border: 1px solid lightgray;
    background-color: white;
    gap: 15px;
    border-radius: 4px;
}

.img-cont {
    width: 98%;
    height: 150px;
    background-color: beige;
    border-radius: 12px;
    border: none;
    outline: none;
    overflow: hidden;
}

.img-cont img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-cont {
    width: 98%;
}

.content-cont h6 {
    font-size: 18px;
}

.content-cont p {
    font-size: 15px;
}

.dur-box {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.time {
    display: flex;
    gap: 10px;
}

.btn-box {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
     button{
        flex:  1 1 120px;
        gap: 10px;
        min-width: unset    ;
     }
}