.stage {
    display: flex;
    height: 50px;
    align-items: stretch;
    &_percentage {
        height: 50px;
        min-width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--Success, #6AAA43);
        color: #FFF;
        font-size: 12px;
        margin: 0;
    }
    &_text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background: var(--Primary, #3282C4);
        color: #FFF;
        font-size: 16px;
        margin: 0;
    }
}
