@mixin layout(){
    border-radius: 8px;
background: #FEFFFF;
box-shadow: 0px 1px 4px 0px rgba(0, 0, 15, 0.10), 0px -1px 4px 0px rgba(0, 0, 15, 0.10);
padding: 20px 15px;
}
.card{
    @include layout();
    background-color: #F9E6E5;
}
.cards-section{
    @include layout();
}