


$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xXlarge: 1360px;

@mixin respondLayoutMax($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin respondLayoutMin($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
@mixin respondLayout($minbreakpoint,$maxbreakpoint) {
  @media only screen and (min-width: $minbreakpoint) and (max-width: $maxbreakpoint) {
    @content;
  }
}.Profile-menu{
    width: 167px;
    border-right: 1px solid rgba(37, 46, 74, 0.10);
background: #FFF;
margin-bottom: 10px;
position: absolute;
top: 81px;
left: 0;
height: calc( 100vh - 81px );
overflow: auto;
&::-webkit-scrollbar {
  width: 2px;
}
// &::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
/* Handle */
&::-webkit-scrollbar-thumb {
  background: #252E4A; 
}
&-list{
    padding: 17px 20px;
    color: var(--Text-Primary, #252E4A);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px; 
    text-wrap: nowrap;
    &.active{
        color: #FFF;
        background: var(--Primary, #3282C4);
    }
}


@include respondLayoutMax($breakpoint-medium){
    position: unset;
    display: flex;
    width: 100%;
    height: fit-content;
   
}


  
}