.card-cont {
    // width: 32%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 15px;
    border: 1px solid lightgray;
    background-color: white;
    gap: 15px;
    border-radius: 4px;
}

.img-cont {
    width: 98%;
    height: 150px;
    background-color: beige;
    border-radius: 12px;
    border: none;
    outline: none;
    overflow: hidden;

}

.img-cont img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.content-cont {
    width: 98%;
}

.content-cont h6 {
    font-size: 18px;
}

.content-cont p {
    font-size: 15px;
}

.dur-box {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.time {
    width: 35%;
    display: flex;
    gap: 10px;
    p{
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.time:nth-child(2){
    width: 65%;
}

.time img, .btn-box img{
    width: 25px;
    height: 25px;
}

.btn-box {
    display: flex;
    gap: 15px;
}

.shareBtn {
    background: none !important;
    border: 1px solid #6AAA43 !important;
    color: #6AAA43 !important;
}
button.react-share__ShareButton {
    all: unset;
    flex: 1 1 120px;
    button{
        width: 100%;
    }

}