$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xXlarge: 1360px;

@mixin respondLayoutMax($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

.tad_header {
    background-color: #fff;
    margin: -20px -20px 20px;
    border-top: 1px solid #EFEFEF;
    background: #FFF;
    box-shadow: 0px 2px 12px 1px rgba(6, 40, 61, 0.06);
    padding: 10px 0 0 20px;
}

.form_section {

    &.add {
        // .form-section {
        //     padding-bottom: 20px;
        // }
    }

    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    align-items: center;
    flex-wrap: wrap;

    .form-section {
        padding: 0;
    }

    .form_field {
        display: flex;
        align-items: end;
        column-gap: 20px;
        row-gap: 10px;
        flex-wrap: wrap;
        .button {
            margin-bottom: 20px;
        }

        :is(input, textarea, select) {
            height: 36px;
            padding: 5px;
            min-width: 200px;
        }

        input[type="time"] {
            max-width: 80px;
            min-width: unset;
        }


    }

}

input[type="time"] {
    max-width: 120px;
    min-width: unset;
}



.time {
    display: flex;

    @include respondLayoutMax($breakpoint-medium) {
        flex-direction: column;
        justify-self: center;
        width: fit-content;
        margin: auto;
        gap: 40px;


    }

    &_stage {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: #FF6636;
        width: 240px;

        @include respondLayoutMax($breakpoint-medium) {
            flex-direction: row;
            width: 100%;
            align-items: center;
        }

        &:last-child .time_stage_date:before {
            content: unset;
        }

        &_start {
            color: var(--Text-Primary, #252E4A);
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 114.286% */
        }

        &_no {
            color: currentcolor;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 12px;
            /* 100% */
        }

        &_date {
            /* color: #FFF; */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            /* 114.286% */
            padding: 9px 16px;
            width: fit-content;
            background: currentColor;
            position: relative;


            &:after {
                color: #FF6636;
                border-left: 13px solid;
                border-top: 18px solid transparent;
                border-bottom: 16px solid transparent;
                display: inline-block;
                content: '';
                position: absolute;
                right: -13px;
                top: 0;

                @include respondLayoutMax($breakpoint-medium) {
                    content: unset;
                }
            }

            &:before {
                height: 2px;
                display: block;
                content: '';
                position: absolute;
                width: 110%;
                left: 100%;
                background: currentColor;
                top: 50%;

                @include respondLayoutMax($breakpoint-medium) {
                    width: 2px;
                    height: 50px;
                    top: 100%;
                    left: 50%;
                }
            }

            span {
                color: #fff;
                white-space: nowrap;
            }
        }

    }
}

.time_table {
    margin-top: 30px;

    .tabel-header button {
        display: none;
    }
}