$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-xXlarge: 1360px;

@mixin respondLayoutMax($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin respondLayoutMin($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
@mixin respondLayout($minbreakpoint,$maxbreakpoint) {
  @media only screen and (min-width: $minbreakpoint) and (max-width: $maxbreakpoint) {
    @content;
  }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background: #FFF;
    @include respondLayoutMax($breakpoint-small){
        padding: 8px;
    }
box-shadow: 0px 1px 4px 2px rgba(6, 40, 61, 0.03);
&-left{
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.HambergerIcon{
    width: 40px;
    svg{
        vertical-align: middle;
        path{
            stroke: #3282C4;
        }
    }
   
    display: none;
    @include respondLayoutMax($breakpoint-xXlarge){
        display: block;
    }
}
    &-text {
        color: var(--Text-Primary, #252e4a);
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    &-right {
        display: flex;
        gap: 30px;
        .notifaction {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            border: 1px solid #eaf1fb;
            background: #fff;
        }
    }
    &-profile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        &-img {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &-section{
            @include respondLayoutMax($breakpoint-small){
                display: none;
            }
        
        }
        &-id {
            color: #699765;
            border-radius: 4px;
            background: rgba(105, 151, 101, 0.16);
            padding: 6px;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 12px; 
            
        }
        &-name {
            color: var(--Text-Primary, #252e4a);
            font-size: 14px;
            font-weight: 500;
            line-height: 14px; 
            padding-top: 6px;
        }
        
    }
}
