.emty-Layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    min-height: calc(100vh - 300px);
    img {
        max-width: 100%;
        text-align: center;
        object-fit: contain;
        object-position: center;
    }
    &-content {
        color: var(--Text-Primary, #252e4a);
        font-size: 18px;
        font-weight: 500;
        line-height: normal;
    }
}
