.courses-card{
    border-radius: 6px;
background: #FFF;
box-shadow: 0px 3px 3px 2px rgba(6, 40, 61, 0.05);
display: flex;
align-items: center;
gap: 16px;
padding: 18px;
&-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.LightningYellow{
        background-color: #E99F42;
    }
    &.LawnParty{
        background-color: #5AB464;
    }
    &.Pear {
        background-color: #E1E129;
    }
    svg{
        vertical-align: middle;
        path{
            stroke: #FFFFFF;
        }
    }
}
&-count{
    color: var(--Text-Primary, #252E4A);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 100% */
margin-bottom: 7px;
}
&-name{
    color: rgba(37, 46, 74, 0.90);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 100% */
}
}