.profile-section {
    border-radius: 4px;
    border: 0.75px solid rgba(37, 46, 74, 0.10);
    background: #FFF;
    padding: 30px;


    .tabel-header .form-section {
        margin-left: auto;
        margin-bottom: 0;

        input {
            padding: 8px 20px;
        }
    }

    .formsection {
        max-width: 704px;

        .file-input {
            display: none;
        }

        .profile-header {
            display: flex;
            align-items: center;
            gap: 18px;

            .header-profile-img {
                width: 80px;
                height: 80px;
            }

            .header-profile-section {
                display: block;
            }

            .header-profile-name {
                font-size: 18px;
                margin-bottom: 10px;
                font-weight: 600;
            }

            button {
                all: unset;
                color: #3282C4;
                font-weight: 500;
                cursor: pointer;

            }
        }

        .formsection-inner {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            column-gap: 24px;
            margin: 24px 0;
        }

        .button-section {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}


.skils-section {
    display: flex;
    gap: 10px;

    p {
        color: var(--Primary, #3282C4);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        border-radius: 100px;
        border: 1px solid var(--Primary, #3282C4);
        background: var(--Input-Field---BG, #EBF3FA);
        padding: 10px 18px;
        width: fit-content;

        span {
            border: 1px solid var(--Primary, #3282C4);
            background: var(--Input-Field---BG, #EBF3FA);
            border-radius: 50%;
            aspect-ratio: 1;
            width: 22px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
    }
}

.form_field {
    .form-section {
        max-width: 400px;
    }

    .form_section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin: 24px 0;

        .inner_section {
            display: flex;
            // max-width: 100%;
            justify-content: space-between;

            .form-section {

                max-width: calc(50% - 8px);
                width: auto;
            }
        }
    }
}

.button_group {
    display: flex;
    gap: 20px;
    justify-content: end;
    height: fit-content;
    max-height: 95vh;
}

.popup_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(37, 46, 74, 0.20);
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.checkboxSection {
    display: flex;
    align-items: center;
    gap: 10px;
    // padding: 10px;
    input{
        width: 20px;
    height: 20px;
    }
}
.form_field .form_section .inner_section:has(.checkboxSection) .form-section{
    max-width: calc( 35% - 10px);

}