.interviews {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.interviews_status {
    display: flex;
    gap: 17px;
    align-items: center;
}

.interviews_status_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.interviews_status_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.interviews_section {
    display: flex;
    gap: 34px;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.75px solid rgba(37, 46, 74, 0.10);
}

.profile_part {
    flex: 0 0 177px;
}

.Interview_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}











.scheduled_interview_header {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.scheduled_interview_card_section {
    border-radius: 4px;
    border: 1px solid rgba(37, 46, 74, 0.10);
    background: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;

}

.scheduled_interview_card_section h3 {
    color: var(--Text-Primary, #252E4A);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */
}

.scheduled_interview_card_section h3 span {
    color: var(--Text-Primary, #252E4A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
    padding-left: 20px;
}

.scheduled_interview_card_section ul {
    color: var(--Text-Primary, #252E4A);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style-type: disc;
    padding-left: 20px;
}

.button_section {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.button_section button {
    flex: 1 1 150px;
}

.scheduled_interview_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.scheduled_interview_card_section ul li:first-child::marker {
    color: #E99F42;
}

.scheduled_interview_card_section ul li:last-child::marker {
    color: #5AB464;
}