.Breadcrumbs{
 
    padding: 10px;
    span{
        color: var(--Text-Primary, #252E4A);
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        opacity: 0.6; 
       
       
   

        &:last-child{
            color: var(--Text-Primary, #252E4A);
            opacity: unset;
        }
       
       .arrow{
        padding: 0 10px;
       }
    }
}