.TimeBased{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 6px;
background-color: #FFF;
box-shadow: 0px 2px 3px 2px rgba(6, 40, 61, 0.05);
padding: 24px;
background-image: url(../../asset/images/TimeBasedGreetingbg.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
&-content{
    flex: 1 1 200px;
    .TimeBasedGreeting{
        color: #00A49A;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;
    }
    p{
        color: var(--Text-Primary, #252E4A);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px; /* 164.286% */
    }
    

}
&-img{
    flex: 0 0 100px;
    margin-left: auto;
}
}
