.Progress{
    &_header{
        margin-bottom: 12px;
        h1{
            font-size: 12px;
            color: #6D7785;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                color: #6D7785;
            }
        }
    }
    &_bar{
        width: 100%;
        position: relative;
        height: 7px;
        border-radius: 15px;
        background-color: #E6E7E9;
        &_value{
            position: absolute;
            height: 100%;
            width: var(--value);
            background-color: #6AAA43;
            border-radius: 15px;
        }
    }
}